.medical-record-table {
  width: 80% !important;
  height: 100px !important;       /* Just for the demo          */
  overflow-y: auto !important;    /* Trigger vertical scroll    */
  overflow-x: hidden !important;  /* Hide the horizontal scroll */
}

.patient-photo {
  width: 200px;
  background-color: wheat !important;
}
.photo-container {
  margin: auto;
  text-align: center;
}
.control-patient-photo{
  width: 14% !important;
  margin: auto;
}
.modify-patient-info-btn {
  margin-left: 25% !important;
}
.modify-patient-info-btn-container {
  text-align: center;
}
.delete{
  background-color: rgba(255, 0, 0, 0.459) !important;

}
.add-medical-record {
  background-color: rgba(255, 255, 0, 0.404) !important;
}
.added-items-title {
  color: grey;
  font-size: 15px;
}
.added-items {
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  margin-left: 5px;
  font-size: 1.2vw;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
.tooltip-medical-record {
  font-size: 15px !important;
}
.popover-tool {
  padding: 15px;
  background-color: rgba(245, 245, 245, 0.87) !important;
  border-radius: 20px !important;
  border: none !important;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
}

.popover-tool h5 {
  font-size: 16px;
  border-bottom: 1px solid rgb(207, 207, 207);
  text-align: center;
}
.popover {
  background-color: transparent;
  border: none !important;
}
.patient-photo-medi {
  width: 10vw !important;
  height: 10vw;

  border: 1px solid grey !important;
  background-color: grey;
}
.tests-photo-container {
  margin: auto;
  text-align: center;
}
.test-photo {
  width: 200px;
}
.control-tests-photo {
  width: 14% !important;
  margin: auto;
}
.add-medical-container {
  text-align: center;
  padding: 15px;
}
.add-medical {
  width: 50% !important;
}
.update-patient-form{
  width: 80%;
  margin: auto;
}
.edit{
  background-color: rgba(52, 109, 71, 0.479) !important;
}
.test-photo-added {
  width: 70px;
  height: 70px;

  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
.return-btn{
  float: left;
  font-size: 0.8vw !important;

}
.update-data-btn{
  background-color: teal !important;
  font-size: 1vw !important;
}
.remove-added-item {
  position: absolute;
  right: 3px;
  top: -22px;
  color: rgb(105, 109, 109);
}
.remove-added-item:hover {
  color: rgb(62, 63, 63);
}

.add-container {
  position: relative;
}
.confirm-btn-container {
  text-align: center;
  padding: 90px;
}
.confirm-btn {
  width: 50% !important;
  font-size: 20px !important;
  padding: 5px !important;
}
.patient-photo-medical-record {
  width: 100px;
  height: 100px;

  border: 1px solid grey !important;
  background-color: grey;
}
