.filter-patient{
    width: 100% !important;
    background-color: transparent !important;
}

.patients-list{
    width: 100% !important;
    text-align: left !important;
}
.menu{
    width: 100% !important;
}
.filter-control-patients{
    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;

}